In [13]:
import sys
import os

# 프로젝트 루트 경로 추가
sys.path.append("D:/python_lhk/workspace/repository/human-da5-404ERROR/404ERROR")

from app.auth.routes import get_db_connection

In [15]:
import pandas as pd

In [19]:
conn = get_db_connection()  # DB 사용 함수
bus = pd.read_sql(f"SELECT * FROM bus WHERE 자치구 = '강남구'", conn)
conn.close()

C:\Users\human\AppData\Local\Temp\ipykernel_2708\3435928419.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  bus = pd.read_sql(f"SELECT * FROM bus WHERE 자치구 = '강남구'", conn)

In [14]:
# 확인할 테이블 목록
tables = ['bus', 'population', 'train', 'weather']

conn = get_db_connection()  # DB 사용 함수
cursor = conn.cursor(dictionary=True)  # dictionary=True로 결과를 딕셔너리 형식으로 받음

for table in tables:
    cursor.execute(f"DESCRIBE {table}")  # DB 칼럼 조회
    columns = cursor.fetchall()
    print(f"\n📋 테이블: {table}")
    print("🔑 컬럼 목록:")
    for col in columns:
        print(f" - {col['Field']} ({col['Type']})")  # 'Field'와 'Type'으로 딕셔너리에서 접근

    # 2. 테이블 데이터 일부 조회
    cursor.execute(f"SELECT * FROM {table} LIMIT 5")
    rows = cursor.fetchall()
    print("📊 샘플 데이터:")
    for row in rows:
        print(row)

cursor.close()
conn.close()

📋 테이블: bus
🔑 컬럼 목록:
 - id (int)
 - 일시 (varchar(20))
 - 자치구 (varchar(20))
 - 승차총승객수 (float)
 - 하차총승객수 (float)
📊 샘플 데이터:
{'id': 1, '일시': '20200101', '자치구': '강남구', '승차총승객수': 120028.0, '하차총승객수': 110788.0}
{'id': 2, '일시': '20200101', '자치구': '강동구', '승차총승객수': 55315.0, '하차총승객수': 54410.0}
{'id': 3, '일시': '20200101', '자치구': '강북구', '승차총승객수': 108699.0, '하차총승객수': 106508.0}
{'id': 4, '일시': '20200101', '자치구': '강서구', '승차총승객수': 94028.0, '하차총승객수': 93477.0}
{'id': 5, '일시': '20200101', '자치구': '관악구', '승차총승객수': 155048.0, '하차총승객수': 158412.0}

📋 테이블: population
🔑 컬럼 목록:
 - id (int)
 - 일시 (varchar(20))
 - 시간대구분 (varchar(10))
 - 자치구 (varchar(20))
 - 총생활인구수 (float)
 - 남자미성년자 (float)
 - 남자청년 (float)
 - 남자중년 (float)
 - 남자노년 (float)
 - 여자미성년자 (float)
 - 여자청년 (float)
 - 여자중년 (float)
 - 여자노년 (float)
📊 샘플 데이터:
{'id': 1, '일시': '20200101', '시간대구분': '0', '자치구': '종로구', '총생활인구수': 248283.0, '남자미성년자': 16364.5, '남자청년': 44472.5, '남자중년': 45532.7, '남자노년': 16612.9, '여자미성년자': 15688.1, '여자청년': 41430.2, '여자중년': 44086.6, '여자노년': 24095.6}
{'id': 2, '일시': '20200101', '시간대구분': '0', '자치구': '중구', '총생활인구수': 187720.0, '남자미성년자': 9974.71, '남자청년': 34884.2, '남자중년': 36396.3, '남자노년': 12104.1, '여자미성년자': 10411.7, '여자청년': 35622.6, '여자중년': 32178.1, '여자노년': 16148.2}
{'id': 3, '일시': '20200101', '시간대구분': '0', '자치구': '용산구', '총생활인구수': 292640.0, '남자미성년자': 17702.7, '남자청년': 57483.4, '남자중년': 51369.4, '남자노년': 16887.6, '여자미성년자': 17727.7, '여자청년': 57354.4, '여자중년': 48987.6, '여자노년': 25127.3}
{'id': 4, '일시': '20200101', '시간대구분': '0', '자치구': '성동구', '총생활인구수': 333268.0, '남자미성년자': 25119.0, '남자청년': 53483.7, '남자중년': 60857.0, '남자노년': 20441.8, '여자미성년자': 24212.2, '여자청년': 56456.3, '여자중년': 61645.8, '여자노년': 31052.0}
{'id': 5, '일시': '20200101', '시간대구분': '0', '자치구': '광진구', '총생활인구수': 390059.0, '남자미성년자': 30517.0, '남자청년': 66547.1, '남자중년': 67576.3, '남자노년': 21915.0, '여자미성년자': 30143.9, '여자청년': 70191.0, '여자중년': 71420.3, '여자노년': 31748.7}

📋 테이블: train
🔑 컬럼 목록:
 - id (int)
 - 일시 (varchar(20))
 - 자치구 (varchar(20))
 - 승차총승객수 (float)
 - 하차총승객수 (float)
📊 샘플 데이터:
{'id': 1, '일시': '20200101', '자치구': '강남구', '승차총승객수': 195486.0, '하차총승객수': 191443.0}
{'id': 2, '일시': '20200101', '자치구': '강동구', '승차총승객수': 69689.0, '하차총승객수': 70369.0}
{'id': 3, '일시': '20200101', '자치구': '강북구', '승차총승객수': 41977.0, '하차총승객수': 41002.0}
{'id': 4, '일시': '20200101', '자치구': '강서구', '승차총승객수': 116679.0, '하차총승객수': 118011.0}
{'id': 5, '일시': '20200101', '자치구': '관악구', '승차총승객수': 61337.0, '하차총승객수': 63849.0}

📋 테이블: weather
🔑 컬럼 목록:
 - id (int)
 - 일시 (varchar(20))
 - 평균기온 (float)
 - 최저기온 (float)
 - 최고기온 (float)
 - 강수_계속시간 (float)
 - 일강수량 (float)
📊 샘플 데이터:
{'id': 1, '일시': '2020-01-01', '평균기온': -2.2, '최저기온': -6.5, '최고기온': 0.3, '강수_계속시간': 9.83, '일강수량': 0.1}
{'id': 2, '일시': '2020-01-02', '평균기온': 1.0, '최저기온': -0.7, '최고기온': 3.8, '강수_계속시간': 0.0, '일강수량': 0.0}
{'id': 3, '일시': '2020-01-03', '평균기온': -0.1, '최저기온': -3.4, '최고기온': 4.6, '강수_계속시간': 0.0, '일강수량': 0.0}
{'id': 4, '일시': '2020-01-04', '평균기온': 1.2, '최저기온': -2.8, '최고기온': 6.1, '강수_계속시간': 0.0, '일강수량': 0.0}
{'id': 5, '일시': '2020-01-05', '평균기온': 1.3, '최저기온': -3.2, '최고기온': 6.6, '강수_계속시간': 0.0, '일강수량': 0.0}